@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/pt-sans-italic.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

/* PT Sans Narrow */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-display: swap;
}
html {height: 100%;}
body {background-color: white;
  color: black;
  display: flex;
  font-family: "PT Sans", sans-serif;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  width: 1200px;
  height: 3315px;
  font-size: 20px;
  line-height: 36px;
}
.main-container {
  flex-grow: 1;
}
.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.page-header {
  background: blanchedalmond;
  color: black;
  width: 1200px;
  margin: 0;
  padding: 0;
}
.navigation 
{  
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
}
.navigation-list {
  margin: 0;
  padding: 0;
  width: 500px;
  display: flex;
}
.navigation-user {
  max-width: 304px;
  margin-left: auto;
}
.catalog-info, .filter-group{
  display: flex;
}
.logo {  
  display: flex;
  margin-top: auto;
  padding-left: 250px;
}
.tab3 {
  background: blanchedalmond;

}
.block2 .tab2 {
  background: white;
  width: 1200px;
  height: 282px;
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;
}
.number {
  color: white;
  display: flex;
  width: 1200px;
  height: 384px;
  margin: auto;
}
.number .tab1 {
  background: #83B3D3;
  width: 400px;
  height: 384px;
  margin-right: auto;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.number .page {
  padding: auto;
  margin-left: auto;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}
.number2 {
  color: white;
  display: flex;
  width: 1200px;
  height: 384px;
  margin: auto;
}
.number2 .tab4 {
  background: #83B3D3;
  width: 400px;
  height: 384px;
  margin-right: auto;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.number .bridge {
  padding: auto;
  margin-left: auto;
}
.list {
  color: black;
  display: flex;
  width: 1200px;
  height: 384px;
  margin: auto;
}
.list .number3, .list .number5 {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
  margin-right: auto;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.list .number4 {
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 384px;
  margin-right: auto;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header .navigation-list .register {
background: brown;
}
.social {  
  width: 1200px;
  height: 120px;
  background-color: darkgoldenrod;
}
.social-list {
  flex-wrap: wrap; 
  display: block;
  display: flex;
  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 40px;
}